<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem id="menu_todo_root" 
                  name="Todo List" 
                  sequence="10" 
                  web_icon="todo_app,static/description/icon.png"/>


        <record id="action_todo_task" model="ir.actions.act_window">
            <field name="name">Todo Tasks</field>
            <field name="res_model">todo.task</field>
            <field name="view_mode">tree,form</field>
        </record>


        <menuitem id="menu_todo_task" 
                  name="Tasks" 
                  parent="menu_todo_root" 
                  action="action_todo_task" 
                  sequence="10"/>

  
    </data>
</odoo>
